{% extends 'general.html' %}
{% block content %}


<div class="form-regular-div">
<h1>Zoznam absolvovaných prehliadok zamestnanca</h1>


<div>
    <h2>{{context.employee.name}} {{context.employee.surname}}</h2>
</div>


<script>
    url_complicated1="{% url 'employeeUpdate' context.employee.id %}"
    url_complicated2="{% url 'employeeAbsolvedEdit' context.employee.id %}"
  </script>
  <button class="button-regular" role="button" onclick="location.href=url_complicated1">Späť</button>
  <button class="button-regular" role="button" onclick="location.href=url_complicated2">pridať absolvovane prehliadky</button>

<div>
    <table>
        <tr>
            <th>Dátum absolvovanie</th>
            <th>Názov prehliadky</th>
            <th></th>
        </tr>
        {% for passed in context.passed_list %}
        <tr>
            <td>{{ passed.date }}</td>
            <td>{{ passed.examinationName }}</td>
            <td><a href="{% url 'passedExaminationDelete' passed.id context.employee.id %}"></a>delete</a></td>
        </tr>
        {% empty %}
            <h3>Žiadne absolvavane prehliadky</h3>
        {% endfor %}
    </table>
</div>
</div>

{% endblock content%}