{% extends 'general.html' %}
{% block content %}


<div class="form-regular-div">


<h1>Absolvované prehliadky</h1> 

<script>
  url_complicated1="{% url 'employeeUpdate' employee.id %}"
</script>
<br>
<p>
  <button class="button-regular" role="button" onclick="location.href=url_complicated1">Späť</button>
</p>
<br>


  <p>
    <h2>Prehiladky zamestnanca {{ employee }}: </h2>
  </p>
  <br>  
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest"></div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Uložiť" class="form-regular-submit">
        </form>
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>

    <script>
        $(function () {
          $("#datetimepicker1").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
          });
        });
      </script>

</div>

{% endblock content%}