{% extends 'general.html' %}
{% block content %}

<h1>Zoznam zamestnancov</h1>

<button class="add-employ" type="add-employee"><a href="{% url 'employeeCreate' %}">pridať zamestnanca</a></button>

<table>
    <tr>
        <th>Meno Priezvisko</th>
        <th>Identifikačné číslo</th>
        <th>Pozícia</th>
        <th>Oddelenie</th>
        <th>Mesto</th>
        <th>Zmennosť</th>
    </tr>
    {% for employee in employees %}
    <tr>
        <td><a href="{% url 'employeeUpdate' employee.id %}">{{ employee.name }} {{ employee.surname }}</a></td>
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.positionRuleId.name }}</td>
        <td>{{ employee.positionRuleId.departmentId.name }}</td>
        <td>{{ employee.positionRuleId.departmentId.cityId.name }}</td>
        <td>{{ employee.shiftRuleId }}</td>
    </tr>  
    {% empty %}
        <h3>No employees</h3>
    {% endfor %}
</table>

{% endblock content%}