{% extends 'general.html' %}
{% block content %}

<div class="form-center-div">
<div class="form-regular-div">
<h1>Upraviť zamestnanca</h1>

<button class="button-regular" role="button" onclick="window.location.href='/employee/';">Späť</button>

<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Uložiť" class="form-regular-submit">
</form>
</div>
<br>
<div>
    <script>
        url_complicated3="{% url 'employeeAbsolvedEdit' employee.id %}"
        url_complicated4="{% url 'employeesPassedExaminations' employee.id %}"
    </script>
    
<button class="button-regular" role="button" onclick="location.href=url_complicated3">pridať absolvovane prehliadky</button>

<button class="button-regular" role="button" onclick="location.href=url_complicated4">historia absolvovaných prehliadkok</button>

</div>
<br>
<div>
    <p>
        <table id="myList">
            <caption>Povinné prehiladky z pozície</caption>
            <thead>
                <th>Názov prehliadky</th>
                <th>Počet dní do expirácie</th>
            </thead>
                {% for examination in positionRulesExaminations %}
                    <tr>
                        <td>{{ examination.name }}</td> 
                        <td>{% if examination.days_to_expiration == -999999 %}
                            NEMÁ
                        {% else %}
                            {{examination.days_to_expiration }}
                        {% endif %}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="2">žiadne prehliadky</td></tr>
                {% endfor %}
        </table>
    </p>
    <br>
    <p>
        <table id="myList">
            <caption>Povinné prehiladky zo zmennosti</caption>
            <thead>
                <th>Názov prehliadky</th>
                <th>Počet dní do expirácie</th>
            </thead>
                {% for examination in shiftRulesExaminations %}
                    <tr>
                        <td>{{ examination.name }}</td> 
                        <td>{% if examination.days_to_expiration == -999999 %}
                            NEMÁ
                        {% else %}
                            {{examination.days_to_expiration }}
                        {% endif %}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="2">žiadne prehliadky</td></tr>
                {% endfor %}
        </table>
    </p>
    <br>
    <p>
        <table id="myList">
            <caption>Individuálne priradené prehiladky</caption>
            <thead>
                <th>Názov prehliadky</th>
                <th>Počet dní do expirácie</th>
            </thead>
                {% for examination in individualRulesExaminations %}
                    <tr>
                        <td>{{ examination.name }}</td> 
                        <td>{% if examination.days_to_expiration == -999999 %}
                            NEMÁ
                        {% else %}
                            {{examination.days_to_expiration }}
                        {% endif %}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="2">žiadne prehliadky</td></tr>
                {% endfor %}
        </table>
    <p>
    <br>
    </p>
        <script>
            url_complicated1="{% url 'employeeExaminationsUpdate' employee.id %}"
            url_complicated2="{% url 'employeeDelete' employee.id %}"
        </script>
        <button class="button-regular" role="button" onclick="location.href=url_complicated1">Upraviť individuálne prehliadky</button>
    </p>
</div>

<td>
    <button class="button-regular" role="button" onclick="location.href=url_complicated2">Vymazať Zamestnanca</button>
</td>
</div>
</div>
{% endblock content%}


