{% extends 'general.html' %}

{% block content %}

<script>
    url_complicated1="{% url 'employeeUpdate' employee.id %}"
</script>



<!-- <div>
    <h2>Povinné rehliadky zamestnanca</h2>
    <h3>Prehliadky z pozície: </h3>
    <ul>
    {% for rulesExamination in positionRulesExaminations %}
        <li>{{ rulesExamination.examinationTypeId }}</li>
    {% empty %}
        <li>žiadne prehliadky</li>
    {% endfor %}
    </ul>

    <h3>Prehliadky zo zmennosti: </h3>
    <ul>
    {% for rulesExamination in shiftRulesExaminations %}
        <li>{{ rulesExamination.examinationTypeId }}</li>
    {% empty %}
        <li>žiadne prehliadky</li>
    {% endfor %}
    </ul>
</div> -->

<div class="form-regular-div">
    <button class="button-regular" role="button" onclick="location.href=url_complicated1">Späť</button>

    <h2>Individuálne priradené prehiladky zamestnanca {{ employee }}: </h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="form-regular-submit">
    </form>

</div>


{% endblock content%}