{% extends 'general.html' %}
{% block content %}


<button class="button-regular" role="button" onclick="window.location.href='create/';">pridať zamestnanca</button>
<div class="form-regular-div">
<table>
    <caption>Zoznam zamestnancov</caption>
    <thead>
        <th>Meno Priezvisko</th>
        <th>Identifikačné číslo</th>
        <th>Pozícia</th>
        <th>Oddelenie</th>
        <th>Mesto</th>
        <th>Zmennosť</th>
    </thead>
    {% for employee in employee_list %}
    <tr>
        <td><a href="{% url 'employeeUpdate' employee.id %}">{{ employee.name }} {{ employee.surname }}</a></td>
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.positionName }}</td>
        <td>{{ employee.departmentName }}</td>
        <td>{{ employee.cityName }}</td>
        <td>{{ employee.shiftName }}</td>
    </tr>
    {% empty %}
        <h3>No employees</h3>
    {% endfor %}
</table>

<!-- 
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="/employee/?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="/employee/?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> 
-->
</div>
{% endblock content%}