{% extends 'general.html' %}
{% block content %}

<div class="form-center-div">
<div class="form-regular-div">
<h1>Upraviť zamestnanca</h1>

<button class="button-regular" role="button" onclick="window.location.href='/employee/';">Späť</button>

<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class="form-regular-submit">
</form>
</div>

<div>
    <script>
        url_complicated3="{% url 'employeeAbsolvedEdit' employee.id %}"
        url_complicated4="{% url 'employeesPassedExaminations' employee.id %}"
    </script>
    
<button class="button-regular" role="button" onclick="location.href=url_complicated3">pridať absolvovane prehliadky</button>

<button class="button-regular" role="button" onclick="location.href=url_complicated4">historia absolvovaných prehliadkok</button>

</div>

<div>

    <h2>Individuálne priradené prehiladky: </h2>
    <ul>
    {% for rulesExamination in individualRulesExaminations %}
        <li>{{ rulesExamination.examinationTypeId }}</li>
    {% empty %}
        <li>žiadne prehliadky</li>
    {% endfor %}
    </ul>
    <script>
        url_complicated1="{% url 'employeeExaminationsUpdate' employee.id %}"
        url_complicated2="{% url 'employeeDelete' employee.id %}"
    </script>
    <button class="button-regular" role="button" onclick="location.href=url_complicated1">Upraviť</button>
</div>

<td>
    <button class="button-regular" role="button" onclick="location.href=url_complicated2">Vymazať</button>
</td>
</div>
</div>
{% endblock content%}


