{% extends 'general.html' %}
{% block content %}


<button class="button-regular" role="button" onclick="window.location.href='create/';">pridať zamestnanca</button>
<input type="text" name="search" placeholder="Vyhladavanie podla mena" class="search-input" id="name" onkeydown="search_by_name();">
<input type="number" name="search" placeholder="Vyhladavanie podla id" class="search-input" id="id" onkeydown="search_by_id();">

<select name="pozicie" id="posit" onchange="search_by_position()">
    {% for result in Position_rules_list %}
    <option>{{ result.name }}</option>
    {% endfor %}
</select>   
 
<select name="pozicie" id="depart" onchange="search_by_department()">
    {% for result in Department_rules_list %}
    <option>{{ result.name }}</option>
    {% endfor %}
</select>  

<select name="pozicie" id="city" onchange="search_by_city()">
    {% for result in City_rules_list %}
    <option>{{ result.name }}</option>
    {% endfor %}
</select>  

<select name="pozicie" id="shift" onchange="search_by_shift()">
    {% for result in Shift_rules_list %}
    <option>{{ result.name }}</option>
    {% endfor %}
</select>  


<div class="form-regular-div">
<table id="myList">
    <caption>Zoznam zamestnancov</caption>
    <thead>
        <th>Meno Priezvisko</th>
        <th>Identifikačné číslo</th>
        <th>Pozícia</th>
        <th>Oddelenie</th>
        <th>Mesto</th>
        <th>Zmennosť</th>
        <th>Dní do expirácie</th>
    </thead>
    {% for employee in employee_list %}
    <tr>
        <td><a href="{% url 'employeeUpdate' employee.id %}">{{ employee.name }} {{ employee.surname }}</a></td>
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.positionName }}</td>
        <td>{{ employee.departmentName }}</td>
        <td>{{ employee.cityName }}</td>
        <td>{{ employee.shiftName }}</td>
        <td>{% if employee.days_to_expiration == None %}
                NEMÁ
            {% else %}
                {{employee.days_to_expiration }}
            {% endif %}
        </td>
    </tr>
    {% empty %}
        <h3>No employees</h3>
    {% endfor %}
</table>


{% endblock content%}