{% extends 'general.html' %}
{% block content %}

    <h1 class="exam-form-h1">Examination type form</h1>
    <div class="exam-form-block">
    
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="exam-form-submit" value="Submit">
    </form>


    <button class="exam-form-button"><a href="{% url 'examinationtypes' %}">back</a></button>
    <button class="exam-form-button"><a href="{% url 'examinationTypeDelete' examinatonType.id %}">delete</a></button>
</div>

{% endblock content%}


