{% extends 'general.html' %}
{% block content %}

<h1>Examination type list</h1>



<button class="button-regular" role="button" onclick="window.location.href='create/';">Add examination type</button>
<table>
    <caption>Examination type list</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Periodicity</th>
    </tr>
    </thead>

    <tbody>
        {% for et in examinatonTypes %}
        <tr>
            <td><a href="{% url 'examinationTypeUpdate' et.id %}">{{et.name}}</a></td>
            <td data-title="Periodicity">{{et.periodicity}}</td>
        </tr>
    </tbody>
    {% empty %}
        <h3>Examination types </h3>
    {% endfor %}
</table>
{% endblock content%}