{% extends 'general.html' %}
{% block content %}

   

    <div class="form-regular-div">
        {% if 'create' in request.path %}
        <h1>Pridať prehliadku</h1>
    {% else %}
        <h1>Upraviť prehliadku</h1>
    {% endif %}
    <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="form-regular-submit" value="Submit">
    </form>

    <button class="button-regular" role="button" onclick="window.location.href='/examinationtype/';">Späť</button>
    {% if 'create' not in request.path %}   
    <script> url_complicated = "{% url 'examinationTypeDelete' examinatonType.id %}"</script>
    <button class="button-regular" role="button" onclick="location.href=url_complicated">Delete</button>
    {% endif %}

</div>

{% endblock content%}


