{% extends 'general.html' %}
{% block content %}
<div class="form-center-div">
<button class="button-regular" role="button" onclick="window.location.href='create/';">Pridať typ prehliadky</button>
</div>
<div class="form-regular-div">
<table>
    <caption>Zoznam typov prehliadok</caption>
    <thead>
    <tr>
        <th>Názov</th>
        <th>Periodicita</th>
    </tr>
    </thead>

    <tbody>
        {% for et in examinatonTypes %}
        <tr>
            <td><a href="{% url 'examinationTypeUpdate' et.id %}" class="hover">{{et.name}}</a></td>
            <td data-title="Periodicity">{{et.periodicity}}</td>
        </tr>
    </tbody>
    {% empty %}
        <h3>Examination types </h3>
    {% endfor %}
</table>
</div>
{% endblock content%}