{% extends 'authenticationRoot.html' %}

{% block content %}
<div class="form-regular-div">
<h1>Prihlásenie</h1>

<form method="POST">
    {% csrf_token %}
    <p>
        <label for="{{form.username.auto_id}}">Uživateľ:</label>
        {{form.username}}
    </p>
    <p>
        <label for="{{form.password.auto_id}}">Heslo:</label>
        {{form.password}}
    </p>
    <input type="submit" value="Prihlásiť" class="form-regular-submit">
</form>
<script>
    complikovane_url = "{% url 'password_reset' %}"
</script>
<button class="button-regular" role="button" onclick="location.href=complikovane_url">Resetovať Heslo</button>

</div>
{% endblock content%}