{% extends 'general.html' %}

{% block content %}


<h1>Register</h1>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register">
</form>



<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Registrácia</div>
      
      <div class='input-fields'>
        <input type='text' placeholder='Prihlasovacie meno' class='input-line full-width'></input>
        <div class='subtitle'>150 znakov alebo menej.Iba písmená, čísla a @/./+/-/_.</div>
        <input type='email' placeholder='Email' class='input-line full-width'></input>
        <input type='password' placeholder='Heslo' class='input-line full-width'></input>
        <div class='subtitle'>Heslo musí obsahovať aspoň 3 znaky.</div>
        <input type='password' placeholder='Overenie hesla' class='input-line full-width'></input>
        <div class='subtitle'>Prosím zopakujte heslo.</div>
      </div>
      <div><button class='ghost-round full-width'>Vytvoriť účet</button></div>
    </div>
  </div>
</div>


{% endblock content%}


