{% extends 'general.html' %}
{% block content %}

<h1>City list</h1>

<a href="{% url 'cityCreate' %}">Add City</a>

<table>
    <th>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for rule in object_list  %}
    <tr>
        <td>{{rule.name}}</td>
        <td><a href="{% url 'city' rule.id %}">detail</a></td>
        <td><a href="{% url 'cityUpdate' rule.id %}">edit</a></td>
        <td><a href="{% url 'cityDelete' rule.id %}">delete</a></td>
    </tr>  
    {% empty %}
        <h3>No rules</h3>
    {% endfor %}
</table>

{% endblock content%}