{% extends 'general.html' %}
{% block content %}
<button class="button-regular" role="button" onclick="window.location.href='create/';">Pridať mesto</button>
<div class="form-regular-div">
<table>
    <caption>Zoznam miest</caption>
    <thead>
    <tr>
        <th>Názov</th>
        <th></th>
    </tr>
    </thead>
    {% for city in object_list  %}
    <tr>
        <td><a href="{% url 'cityUpdate' city.id %}">{{city.name}}</a></td>
        <td><a href="{% url 'cityDelete' city.id %}">delete</a></td>
    </tr>  
    {% empty %}
        <h3>Žiadne mestá</h3>
    {% endfor %}
</table>
</div>
{% endblock content%}