{% extends 'general.html' %}
{% block content %}
<div class="form-center-div">
<button class="button-regular" role="button" onclick="window.location.href='create/';">Pridať oddelenie</button>
</div>
<div class="form-regular-div">
<table>
    <caption>Zoznam oddelení</caption>
    <thead>
    <tr>
        <th>Názov</th>
        <th>Mesto</th>
        <th></th>
    </tr>
    </thead>
    {% for department in departments_list  %}
    <tr>
        <td><a href="{% url 'departmentUpdate' department.id %}" class="hover">{{department.name}}</a></td> 
        <td><a href="{% url 'cityUpdate' department.cityId %}" class="hover">{{department.cityName}}</a></td>
        <td><a href="{% url 'departmentDelete' department.id %}" class="hover">Vymazať</a></td>
    </tr>  
    {% empty %}
        <h3>Žiadne oddelenia</h3>
    {% endfor %}
</table>
</div>
{% endblock content%}