{% extends 'general.html' %}
{% block content %}

<h1>Zoznam oddelení</h1>

<a href="{% url 'departmentCreate' %}">Pridať oddelenie</a>

<table>
    <th>
        <th>Názov</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for rule in object_list  %}
    <tr>
        <td>{{rule.name}}</td>
        <td><a href="{% url 'department' rule.id %}">detail</a></td>
        <td><a href="{% url 'departmentUpdate' rule.id %}">edit</a></td>
        <td><a href="{% url 'departmentDelete' rule.id %}">delete</a></td>
    </tr>  
    {% empty %}
        <h3>No departments</h3>
    {% endfor %}
</table>

{% endblock content%}