{% extends 'general.html' %}
{% block content %}

<h1>Zoznam oddelení</h1>

<button class="button-regular" role="button" onclick="window.location.href='create/';">Pridať oddelenie</button>

<table>
    <thead>
        <th>Názov</th>
        <th></th>
        <th></th>

    </thead>
    {% for department in object_list  %}
    <tr>

        <td><a href="{% url 'departmentUpdate' department.id %}">{{department.name}}</a></td>
        <td><a href="{% url 'cityUpdate' department.cityId.id %}">{{department.name}}</a></td>
        <td><a href="{% url 'departmentDelete' department.id %}">delete</a></td>
    </tr>  
    {% empty %}
        <h3>Žiadne oddelenia</h3>
    {% endfor %}
</table>

{% endblock content%}