{% extends 'general.html' %}
{% block content %}
<div class="form-regular-div">
<h1>VYMAZAŤ</h1>
<button class="button-regular" role="button" onclick="window.location.href='/position/';">Späť</button>

    {% if zavislosti %}
        <br><br>
        <p>Nie je možné zmazať pozíciu "{{positionrule.name}}" z dôvodu nasledujúcich závislostí:</p>
        {% for zavislost in zavislosti %}
            <p>zamestnanec "{{ zavislost.name }} {{ zavislost.surname }}"</p>
        {% endfor %}
        <br><br>
        <p>Všetkých týchto zamestnancov bude treba najskôr zmazať.</p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <p>Ste si istý, že chcete zmazať pozíciu "{{positionrule.name}}"?</p>
            <input type = "submit" value="vymazať" class="form-regular-submit"/>
        </form>
    {% endif %}

</div>
{% endblock content%}