{% extends 'general.html' %}
{% block content %}

<h1>Rule list</h1>

<a href="{% url 'ruleCreate' %}">Add Rule</a>

<table>
    <th>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for rule in rules %}
    <tr>
        <td>{{rule.name}}</td>
        <td><a href="{% url 'rule' rule.id %}">detail</a></td>
        <td><a href="{% url 'ruleUpdate' rule.id %}">edit</a></td>
        <td><a href="{% url 'ruleDelete' rule.id %}">delete</a></td>
    </tr>  
    {% empty %}
        <h3>No rules</h3>
    {% endfor %}
</table>

{% endblock content%}