{% extends 'general.html' %}
{% block content %}
<div class="form-center-div">

<button class="button-regular" role="button" onclick="window.location.href='create/';">Pridať zmennosť</button>
</div>
<div class="form-regular-div">
<table>
    <caption>Zoznam zmenností</caption>
    <thead>
    <tr>
        <th>Názov</th>
        <th></th>
    </tr>
    </thead>
    {% for shift in object_list  %}
    <tr>
        <td><a href="{% url 'shiftUpdate' shift.id %}" class="hover">{{shift.name}}</a></td>
        <td><a href="{% url 'shiftDelete' shift.id %}" class="hover">Vymazať</a></td>
    </tr>  
    {% empty %}
        <h3>No rules</h3>
    {% endfor %}
</table>
</div>
{% endblock content%}