<!doctype html>
<html>
<head>
    <title>medical-lekarske</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <script src="{% static 'functions.js' %}"></script>    
    
    <!-- staticLink na pridanie dlasich linkov pre apky -->
    {% block staticLink %}  
    {% endblock staticLink %}

</head>
<body>

    {% include 'navbar.html' %}
    {% block content %}
    {% endblock content%}

</body>
</html>