
<nav class="navbar">
    <div class="logo"><a href="{% url 'employees' %}"><img src="/static/gefco-logo.png" alt="GEFCO logo"></a></div>
<ul class="nav-links">
    <li><a href="{% url 'employees' %}">employees</a></li>

    <li><a href="{% url 'examinationtypes' %}">examinationTypes</a></li>



    <li><a href="{% url 'register' %}">register</a></li>

{% if request.user.is_authenticated %}
<li><a href="{% url 'logout' %}">LogOut</a></li>
{% else %}
<li><a href="{% url 'login' %}">LogIn</a></li>
{% endif %}
</ul>
</nav>



