* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: Georgia, serif;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background: #667db6;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
 font-weight: bold;
 color: darkgrey;
}
.nav-links a {
 color: #383736;
}
.nav-links li {
padding: 5px 14px;
}
.nav-links {
 display: flex;
 gap: 1em;
 font-size: 18px;
}

.nav-links li a:hover{
    font-weight: bold;
    outline: black;
    color: #cacaca;
}

/* LOGO */

.logo img{
 max-width: 100px;
 max-height: 100px;
 width: 100%;
 height: 100%;
}


body{
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

h1{
    color: brown;
}

.add-employ {
    background-color: whitesmoke;
    outline-color: black;
    color:#383736;
    padding: 5px;
    width: fit-content;
}

.add-employ:hover {
    background-color: #383736;
    color: whitesmoke;
}

.exam-form-submit{
    padding: 3px;
}

.exam-form-block{
    display: block;
    align-items: center;
    margin: auto;
    width: 50%;
    font-size: 25px;
}

.exam-form-h1{
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}

.exam-form-button a{
    color: #383736;
    align-items: center;
}


.exam-form-button{
    background-color: #383736;
    color: whitesmoke;
    padding: 3px;
    margin: 5px;
}
.exam-form-button a{
    color: whitesmoke;
}

.button-regular {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    font-weight: bold;
  }
  
  .button-regular:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-regular:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-regular:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .form-regular{
    justify-content: center;
    display: inline-block;
    text-align: center;
    outline-color: black;
    outline: black;
    border: 1px solid black;
    background: #ff0000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff0000, #7a4646);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff0000, #7a4646); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  input.form-regular-submit{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    font-weight: bold;
  }

  input.form-regular-submit:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  input.form-regular-submit:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  div.form-regular-div{
    justify-content: center;
    text-align: center;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  .form-center-div{
    justify-content: center;
    text-align: center;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  div.form-center-div{
    justify-content: center;
    text-align: center;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  td.onhover:hover {
    color: whitesmoke;
  }

  div.search-engine{
    justify-content: center;
    text-align: center;
  }