* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: Georgia, serif;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: darkgrey;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
.nav-links li {
padding: 5px 14px;
}
.nav-links {
 display: flex;
 gap: 1em;
 font-size: 18px;
}

.nav-links li a:hover{
    outline: black;
    color: lightblue;
}

/* LOGO */

.logo img{
 max-width: 60px;
 max-height: 60px;
 width: auto;
 height: auto;
}

body{
    background-color: grey;
}

h1{
    color: brown;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
[type="add-employee"]{
    color: whitesmoke;
}

.add-employ {
    background-color: whitesmoke;
    outline-color: black;
    color:#383736;
    padding: 5px;
    width: fit-content;
}

.add-employ:hover {
    background-color: #383736;
    color: whitesmoke;
}

.exam-form-submit{
    padding: 3px;
}

.exam-form-block{
    display: block;
    align-items: center;
    margin: auto;
    width: 50%;
    font-size: 25px;
}

.exam-form-h1{
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}

.exam-form-button a{
    color: #383736;
    align-items: center;
}


.exam-form-button{
    background-color: #383736;
    color: whitesmoke;
    padding: 3px;
    margin: 5px;
}
.exam-form-button a{
    color: whitesmoke;
}

