th, td {
border: 1px solid black;
padding: 8px;
}

table {
border-collapse: collapse;
}

thead tr {
width: 25%;
}

.exam-name {
  background-color: gold;
  font-weight: bold;
  text-align: center;
}

.exam-period {
  background-color: blue;
  font-weight: bold;
  text-align: center;
}