th, td {
border: 3px solid black;
padding: 8px;
}

table {
border-collapse: collapse;
/* background-color: #FFD898; */
background: #FFD898;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD898, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD898, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: black;
text-align: center;
font-weight: bold;
justify-content: center;
display: inline-block;

}

thead tr {
width: 25%;
background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

td a{
  color: black;
  text-align: center;
  font-weight: bold;
}

.button-exam-add {
  align-items: center;
  appearance: none;
  background-color: whitesmoke!important;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #383736;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
}

.button-exam-add a{
  color: #383736;
  font-size: 20px;
}

.button-exam-add:disabled {
  pointer-events: none;
}

.button-exam-add:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-exam-add:active {
  box-shadow: none;
  transform: translateY(0);
}

.container {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}